 body {
	 background-color: #ffffff;
     font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-size: 40px;
    text-align: center;
    
}

.tabela {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 2vw;
}

.elementos {
    display: flex;
    flex-direction: column;
}
.elemento, .holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 1px;
    border-radius: 2px;
    transition: 0.2s linear;
    border: black;
    background-color: rgb(233, 227, 227);
    text-align: center;
}
.numero-atomico {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 10px;
    margin: 0;
}
.simbolo {
    font-size: 30px;
    margin: 0;
}
.nome {
    font-size: 10px;
    margin: 0;
}

.infos{
    font-size: 7px;
    margin: 0;
}

.legenda > .simbolo{
    font-size: 16px;
}
.legenda > .numero-atomico{
    font-size: 8px;
}


.elementos-lanthanoids-actinoids {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: calc((2 * 5vw) + 2vw + 6px);
}
.elementos-2 {
    display: flex;
    flex-direction: row;
}